
body:after {
         content: "";
         position: fixed;
         /* stretch a fixed position to the whole screen */
         top: 0;
         height: 100vh;
         /* fix for mobile browser address bar appearing disappearing */
         left: 0;
         right: 0;
         z-index: -1;
         /* needed to keep in the background */
         background: url(images/rainy_leaf.jpg) center center;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
     }
    /* background: url('images/rainy_leaf.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%; */
}


body,
h1 {
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
}

.greeting{
    font-size: 4.5vw;
    width: 50%;
}

.shadowText{
    text-shadow:1px 1px 0 #666;
}



@media screen and (max-width: 500px) {
    

/* 
         background-image: none;
         background-attachment: scroll;
         background-position: none;
         -webkit-background-size: none;
         -moz-background-size: none;
         -o-background-size: none;
         background-size: none;
        background-repeat: no-repeat;
         New css
         background-image: url(images/pink-tulips-on-wood-texture_4460x4460.jpg);
         background-position: center; }*/
    
    
}