
html {
    background: url('images/rainy_leaf.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;

}


body,
h1 {
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
}

.greeting{
    font-size: 4.5vw;
    width: 50%;
}

.shadowText{
    text-shadow:1px 1px 0 #666;
}



@media screen and (max-width: 500px) {
    html {
        -moz-background-size: auto;
        -webkit-background-size: auto;
        background-attachment: scroll;
        background-position: top;
        background-size: auto;
        height: auto !important;
/*         
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size: auto;
        background-repeat: no-repeat;
         background-position: center;
        background-attachment: fixed;
        width: auto;
        height: auto;
        background-origin: none; */
    }
}