
body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('images/pink-tulips-on-wood-texture_4460x4460.jpg'); */
    background-image: url('images/rainy_leaf.jpg');
    min-width: 100%;
    overflow: hidden;
}

body,
h1 {
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
}

.greeting{
    font-size: 4.5vw
}

.shadowText{
    text-shadow:1px 1px 0 #666;
}


@media screen and (max-width: 500px) {
    body {
        background-image: url('images/pink-tulips-on-wood-texture_4460x4460.jpg');
        /* background-image: none; */
        min-height: 100%;
        background-size: cover;
        overflow: hidden;
    }
}